#root {
  max-width: 1280px;
  margin:  auto;
  padding: 3rem;
  text-align: center;
}




.card {
  padding: 2rem;
}

.read-the-docs {
  color: #888;
}
.linkedin-icon {
  background-color: #0077b5; /* Blue color for LinkedIn */
}